table.junction-compat {
    table-layout: fixed;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

table.junction-compat tr {
    height: 1rem;
}

table.junction-compat th {
    writing-mode: vertical-lr;
    text-orientation: mixed;

    padding: 8px 4px;
    vertical-align: baseline;
    transform: rotate(180deg);
    width: 1rem;
}

table.junction-compat td:first-child {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    color: var(--main_grey);

    text-align: end;
}

table.junction-compat td {
    padding: 4px 8px;
    height: 1rem;

    color: var(--main_dkgrey);
}

table.junction-compat td.compat {
    font-weight: 600;
    color: var(--positive);
}

table.junction-compat td.compat-extra {
    font-weight: 600;
    color: var(--main_white);
}